/* Estilo actualizado con el diseño del registro */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: 'Arial', sans-serif; /* Cambio de fuente a Arial */
}

.message-success {
  text-align: center;
  margin-top: 20px;
  background-color: #000; /* Cambio de color a negro */
  color: #fff; /* Cambio de color de texto a blanco */
  padding: 15px; /* Aumento del padding */
  border-radius: 8px; /* Aumento del radio de borde */
  margin-left: auto;
  margin-right: auto;
}

.contenedor {
  text-align: center;
  margin-top: 20px;
  background-color: #000; /* Cambio de color a negro */
  color: #fff; /* Cambio de color de texto a blanco */
  padding: 15px; /* Aumento del padding */
  border-radius: 8px; /* Aumento del radio de borde */
  margin-left: auto;
  margin-right: auto;
}

.message-error {
  text-align: center;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  padding: 15px; /* Aumento del padding */
  border-radius: 8px; /* Aumento del radio de borde */
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 15px; /* Aumento del margen inferior */
  color: #fff;
  font-family: 'Arial', sans-serif; /* Cambio de fuente a Arial */
}

form {
  display: flex;
  flex-direction: column;
  width: 320px; /* Ajuste del ancho del formulario */
  padding: 25px; /* Aumento del padding */
  border-radius: 8px;
  background-color: #000; /* Cambio de color a negro */
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.15);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  padding: 12px; /* Aumento del padding */
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif; /* Cambio de fuente a Arial */
}

button {
  padding: 12px; /* Aumento del padding */
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Arial', sans-serif; /* Cambio de fuente a Arial */
}

button:hover {
  background-color: #808080;
}

.error {
  color: #fff;
  margin-top: 4px;
  margin-left: 1px;
  font-size: 12px;
  font-family: 'Arial', sans-serif; /* Cambio de fuente a Arial */
}