<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
<div class="titulo-principal">BARWAR 1</div>
<div class="subtitulo">1V1</div>
<div class="menu">
  <button id="jugarBtn" (click)="jugar()">Jugar</button>
  <button id="scoresBtn" (click)="scores()">Mostrar Scores</button>
</div>
<!-- Contenedor para las explosiones -->
<div class="explosions-container">
  <!-- Partículas existentes -->
  <div class="particle particle1" style="top: 20%; left: 30%;"></div>
  <div class="particle particle2" style="top: 50%; left: 80%;"></div>
  <div class="particle particle3" style="top: 70%; left: 40%;"></div>
  <div class="particle particle4" style="top: 10%; left: 50%;"></div>
  <div class="particle particle5" style="top: 30%; left: 10%;"></div>
  <div class="particle particle6" style="top: 80%; left: 60%;"></div>
  <div class="particle particle7" style="top: 40%; left: 20%;"></div>
  <div class="particle particle8" style="top: 60%; left: 70%;"></div>
  <div class="particle particle9" style="top: 90%; left: 30%;"></div>
  <div class="particle particle10" style="top: 15%; left: 40%;"></div>
  <div class="particle particle11" style="top: 25%; left: 55%;"></div>
  <div class="particle particle12" style="top: 35%; left: 65%;"></div>
  <div class="particle particle13" style="top: 45%; left: 75%;"></div>
  <div class="particle particle14" style="top: 55%; left: 85%;"></div>
  <div class="particle particle15" style="top: 65%; left: 95%;"></div>
  <div class="particle particle16" style="top: 75%; left: 5%;"></div>
  <div class="particle particle17" style="top: 85%; left: 15%;"></div>
  <div class="particle particle18" style="top: 95%; left: 25%;"></div>
  <div class="particle particle19" style="top: 5%; left: 35%;"></div>
  <div class="particle particle20" style="top: 15%; left: 45%;"></div>
  <div class="particle particle21" style="top: 25%; left: 55%;"></div>
  <div class="particle particle22" style="top: 35%; left: 65%;"></div>
  <div class="particle particle23" style="top: 45%; left: 75%;"></div>
</div>
<div id="loadingAnimation" class="loading-animation"></div>

