<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

<div style="background-color: rgb(0, 0, 0);" (click)="intentos()" class="container">
    <h1>Bombas Restantes: {{ bombasRestantes }}</h1>
    <h2>Barcos Destruidos: {{ barcosDestruidos }}</h2>
    <div *ngIf="explosion" [@explosionAnim]>
        <img src="assets/bomba.png" alt="Explosión" class="explosion-image">
    </div>
    <div [@slideInOut]="estado" (@slideInOut.done)="onAnimationDone()">
        <div class="barco" [@shipHitAnim]="shipState" (click)="golpearBarco($event); $event.stopPropagation();">
            <div class="b-1"></div>
            <div class="b-2"></div>
            <div class="b-3"></div>
            <div class="b-4"></div>
            <div class="bandeira"></div>
        </div>
        <div class="sombra"></div>
    </div>
</div>
