<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

<style>
    h1, h2 {
        font-family: 'Special Elite', Courier, monospace; /* Fuente de estilo militar */
        text-align: center; /* Centra el texto */
        font-size: 3em; /* Aumenta aún más el tamaño del texto */
        color: #fcfcfc; /* Un color dorado, puedes ajustarlo a lo que prefieras */
        text-shadow: 2px 2px 4px #000000; /* Añade una sombra para darle un efecto más dramático */
        margin-top: 20px; /* Añade una distancia desde el borde superior de 20px */
    }
    .container {
        text-align: center; /* Asegura que todo dentro del contenedor esté centrado */
    }
</style>

<div style="background-color: blue;" (click)="intentos()" class="container">
    <h1>Bombas Restantes: {{ bombasRestantes }}</h1>
    <h2>Barcos Destruidos: {{ barcosDestruidos }}</h2>
    <div [@slideInOut]="estado">
        <div class="barco"  (click)="golpearBarco($event); $event.stopPropagation();">
            <div class="b-1"></div>
            <div class="b-2"></div>
            <div class="b-3"></div>
            <div class="b-4"></div>
            <div class="bandeira"></div>
        </div>
        <div class="sombra"></div>
    </div>
</div>
